<div class='item-contents'>
  <h2 class='title'>List display</h2>
  <div class="subtitle" >
    新規投稿一覧
    <%= paginate @recipes %>
  </div>
  <ul class='item-lists'>
   <% if @recipe.present? %>
    <% @recipes.each do |recipe| %>
    <li class='list'>
      <%= link_to recipe_path(recipe) do %>
      <div class='item-img-content2'>
        <% if recipe.image.attached? %>
         <%= image_tag(recipe.image.variant(resize: '250x250'), class: 'card__img') %>
      <% else %>
         <%= "画像がありません" %>
      <% end %>
      </div>
      <div class='item-info'>
        <h3 class='item-name'>
          <%= recipe.recipe_title %>
          
        </h3>
        <div class='item-price'>
         <%= recipe.category.name %>
          <div class='star-btn'>
            <span class='star-count'>0</span>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </li>
  <% else %>
   <p>リストが空です。</p>
  <% end %>
 