<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @recipe.recipe_title %>
    </h2>
    <div class="item-img-content text-center">
      <%= image_tag(@recipe.image.variant(resize: '500x500')) if @recipe.image.attached? %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
      </span>
      <span class="item-postage">
      </span>
    </div>

    
    <% if user_signed_in?%>
     <% if current_user.id == @recipe.user_id %>
       <%= link_to "投稿の編集", edit_recipe_path(@recipe), method: :get, class: "item-red-btn" %>
       <p class="or-text">or</p>
       <%= link_to "削除", recipe_path(@recipe), method: :delete, class:"item-destroy" %>
      <% end %>
    <% end %>
 
    
    <div class="item-explain-box">
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @recipe.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @recipe.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">材料</th>
          <td class="detail-value"><%= simple_format(@recipe.recipe_material) %></td>
        </tr>
        <tr>
          <th class="detail-item">作り方</th>
          <td class="detail-value"><%= simple_format(@recipe.recipe_text) %></td>
        </tr>
        <tr>
          <th class="detail-item">調理にかかった値段</th>
          <td class="detail-value"><%= @recipe.price %></td>
        </tr>

      </tbody>
    </table>

    <div id="like-btn<%= @recipe.id %>">
      <%= render partial: "likes/like", locals: { recipe: @recipe } %>
    </div>



  <div class="prototype__comments">
    <div class="prototype__comment">
      <%= form_with(model: [@recipe, @comment], local: true,id: "comment-form") do |f| %>
        <div class="field">
          <%= f.label :comment_text, "コメント" ,style: "font-size: 18px;"%><br />
          <%= f.text_field :comment_text, class:"comment-text style" "height: 60px; width: 200px;"%>
        </div>
        <div class="actions">
          <%= f.submit "SEND", class: :form__btn, style: "height: 30px; width: 300px;"  %>
        </div>
     <% end %>
    <div class="comment-scroll">
      <div id="comments" style="max-height: 200px; overflow: scroll;">
        <h4>＜コメント一覧＞</h4>
        <% @recipe.comments.each do |comment| %>
          <div class="comment">
            <div class="comments-text">
              <p class="user-info"><%= comment.user.nickname %>: </p>
              <p class="comment-text"><%= comment.comment_text %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    </div>
  </div>
 </div>
</div>


