<!DOCTYPE html>
<html>
  <head>
    <title>CookDaddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Carousel Template · Bootstrap v5.0</title>



    

    <!-- Bootstrap core CSS -->


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-Secondary">
        <nav class="navbar fixed-top navbar-light bg-light">
            <div class="d-flex justify-content-between col-12 ">
                <div class="container1">
                 <%= link_to root_path, style: 'text-decoration: none; font-family: cursive;' do %>
                  <%= image_tag 'faget.png', alt: 'ロゴ', class: 'bd-placeholder-img', width: '100px', height: '100px' %>
                  <div class =container2>
                <h2 class="navbar-brand" style="font-size: 26px;">Cook Daddy</h2>
                <% end %>
                <% if user_signed_in? %>
                 <%= "こんにちは、#{current_user.nickname}さん" %>
                   <% else %>
                    <p>ようこそゲストさん</p>
                   <% end %>
                  </div>
                </div>
                
                <div class="container d-flex justify-content-end">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link"><%= link_to '新規登録', new_user_registration_path,class:"nav-item text-decoration-none text-dark"%></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#"><%= link_to 'ログイン', user_session_path,class:"nav-item text-decoration-none text-dark"%></a>
                        </li>
                        <% if current_user %>
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class:"nav-item text-decoration-none text-dark"%></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link"><%= link_to 'マイページ', "/users/#{current_user.id}" ,class:"nav-item text-decoration-none text-dark"%></a>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link"><%= link_to 'レシピを投稿する', new_recipe_path,class:"nav-item text-decoration-none text-dark"%></a>
                        </li>
                        <% end %>
                    </ul>
                    </div>
                </div>
            </div>
        </nav>
    </nav>

    </header>
    <div class="bg-ground">  
    </div>
    <%= yield %>
  </body>
</html>
